.container {
  background-color: #0f0f0f;
  color: white; /* This is optional, but it helps with text visibility on a dark background */
  height: 100vh; /* Make sure the container takes the full viewport height */
  display: flex; /* Flexbox layout for positioning */
}

.sidebtn {
  border-radius: 10px;
  background-color: #1a1a1a;
  border-color: #1a1a1a;
  border-top: #1a1a1a;
  border-left: #1a1a1a;  
  border-bottom: #1a1a1a;
  border-right: #1a1a1a;
  height: 40px;
  width: 204px;
}

.sidebtn:hover {
  background-color: #272727;
  border-color: #272727;
  border-top: #272727;
  border-left: #272727;
  border-right: #272727;
  border-bottom: #272727;
  height: 40px;
  width: 204px;
}

.mainContent {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100vh;
  background-color: #1a1a1a;
  color: white;
  padding: 20px;
}

.toggleElement {
  position: absolute; 
  top: 0;
  left: 50%; 
  transform: translateX(-50%); 
  text-align: center; 
  visibility: hidden;
}